<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List
a = [1, 2, 3, 4]
type(a)
b = [1, "abc", 1.5, True, False]
type(b)

list

In [ ]:
a = [4, 5, 3, 2, 6, 7]
print(a[3])
print(a[-1])

2
7

In [ ]:
#list wit for loop
a = [4, 5, 3, 2, 6, 7]
for i in a:
  print(i, end="+")

4+5+3+2+6+7+

In [12]:
#list using while loop
a = [4, 5, 3, 2, 6, 7]
i = 0
while i<=5:
  print(a[i], end="-" )
  i+=1

4-5-3-2-6-7-

In [15]:
#delete element from list
a = [4, 5, 3, 2, 6, 7]
del a[4]
print(a)

[4, 5, 3, 2, 7]

In [20]:
#Edit list

a = [4, 5, 3, 2, 6, 7]
a[2] = 10
print(a)
a[4]
#a[8] #it is out of range and error occur

[4, 5, 10, 2, 6, 7]

6

In [24]:
#add element in list by using append and insert

a = [4, 5, 3, 2, 6, 7]
a.append(23)
print(a)

[4, 5, 3, 2, 6, 7, 23]

In [31]:
a = [4, 5, 3, 2, 6, 7]
a.insert(4, 12)
#a.insert(9, 12) it will be added in the end because it is bigger value
print(a)

[4, 5, 3, 2, 12, 6, 7]

In [41]:
#Lets use packing and unpacking
#unpacking
a = [12, 23, 34 ,45]
a,b,c,d = a
print("Lets do unpacking: ", a, b, c, d)



#packing
e = 32
f = 21
g = 65
h = [e,f,g]
print("LEts do packing: ", h)

Lets do unpacking:  12 23 34 45
LEts do packing:  [32, 21, 65]

In [53]:
a = [b,c,d,c,b,c]
b = 43
c = 42
d = 31
#len(a)
#min(a)
#max(a)
#sum(a)
#lets perform same programs on hytrogenious funtctions
e = [1, 2.5, True, "ABC"]
len(e)
#min(e) #not support between of 'str' and 'int'
#max(e)  //            //
#sum(e) #unsupported due to float and str
#sorted(e) #not supported b/w str and bool

4

In [56]:
#lets do sorted in list
a = [8,3,4,7,5,6]
sorted(a)

[3, 4, 5, 6, 7, 8]

In [66]:
c = list( )
type(c)
c = list(10)

TypeError: 'int' object is not iterable

In [75]:
b = list((12, 23, 34))
print(b)

c  = list("zamad")
print(c)


d = list(range(2, 9))
print(d)

[12, 23, 34]
['z', 'a', 'm', 'a', 'd']
[2, 3, 4, 5, 6, 7, 8]

In [84]:
#comparision operators
d = [1, 2, 3, 4, 5]
e = [5, 4, 3, 2, 1]
f = [1, 2, 3, 4, 5]
d<e
d>e
d==f

True

In [88]:
#concatination operators
d = [1, 2, 3, 4, 5]
e = [5, 4, 3, 2, 1]
#d+e
f = d+e
print(f)

[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]

In [92]:
#repetition operators
t = (1 , 3)
e = t*4
print(e)
t*2

(1, 3, 1, 3, 1, 3, 1, 3)

(1, 3, 1, 3)