<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#slicing operator [start:stop:step]
a = [12, 23, 34, 45, 56, 67, 78, 89, 90]
b = a[::-1]
print(b)

[90, 89, 78, 67, 56, 45, 34, 23, 12]

In [32]:
#list of list
a = [ [1, 2, 3, 4, 5], [5, 4, 10, 2, 1], [6, 7, 8, 9, 0] ]
print(a[1][3])
print(a[2])

2
[6, 7, 8, 9, 0]

In [45]:
#Lets use del() and remove()
b = [12, 23, 34, 45, 56, 67, 78, 89, 90]
del b[2] # here we use index number ok
print(b)
c = [23, 34, 45, 56, 67, 78, 89]
c.remove(67) #here we put the value
print(c)

[12, 23, 45, 56, 67, 78, 89, 90]
[23, 34, 45, 56, 78, 89]

In [62]:
#lets use pop()
f = [12, 23, 34, 45, 56, 67, 78, 89, 90]
print(f.pop(3))
print(f)

45
[12, 23, 34, 56, 67, 78, 89, 90]

In [64]:
#lets use clear()
f = [12, 23, 34, 45, 56, 67, 78, 89, 90]
f.clear()
f

[]

In [65]:
#Lets use reverse()
f = [12, 23, 34, 45, 56, 67, 78, 89, 90]
f.reverse()
f

[90, 89, 78, 67, 56, 45, 34, 23, 12]

In [83]:
#Lets use sorted()
g = [90, 89, 78, 67, 56, 45, 34, 23, 12]
print(sorted(g))

[12, 23, 34, 45, 56, 67, 78, 89, 90]
None

In [85]:
#Lets use sort()
g = [90, 89, 78, 67, 56, 45, 34, 23, 12]
g.sort()
print(g)

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [86]:
#Lets use index()
g = [90, 89, 78, 67, 56, 45, 34, 23, 12]
g.index(45)

5

In [87]:
#Lets use count()
g = [90, 89, 78, 23, 56, 45, 23, 23, 12]
g.count(23)

3

In [89]:
#list comprehension
[x**2 +2 for x in range(2,10)]

[6, 11, 18, 27, 38, 51, 66, 83]

In [95]:
#lets use input
a = list(input("Enter your name: "))
print(a)

Enter your name: Zamad
['Z', 'a', 'm', 'a', 'd']

In [101]:
print("Enter how many values you wanna use ok")
a = int(input())
c = []
b = 0
while b < a:
  c.append(int(input("Enter the number ")))
  b+=1
print("Einal list ", c)

Enter how many values you wanna use ok
4
Enter the number 1
Enter the number 2
Enter the number 3
Enter the number 4
Einal list  [1, 2, 3, 4]

In [107]:
#lets use Mutability and hashability
f = (90, 89, 78, 23, 56, 45, 23, 23, 12)
print(hash(f))

g = [90, 89, 78, 23, 56, 45, 23, 23, 12]
hash(g)    #hash can not use on list because it can be changed

-7123682659178778967

TypeError: unhashable type: 'list'

In [108]:
a = range(5)
hash(a)   #hash use only in unique value ok

5795932985296280846