<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
password1 = "zamad1"
user = ""
count = 0
while user != password1:
  user = input("Enter the password ")
  count = count + 1
  print("Count", count)
  if count == 3:
    print("access denied")
    break
#print("Access granted")

Enter the password zamad1
Count 1

In [12]:
#for loop

for i in range(6):
  print(i)
#indexing start from 0 by default until we not defined

0
1
2
3
4
5

In [14]:
#range (starting_index, stoping_index, step)
#lets print from 1 to 10
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
#Lets print from 10 to 1
for a in range(10, 0, -1):
  print(a)

10
9
8
7
6
5
4
3
2
1

In [19]:
#lets print even number in between 0 to 10
for a in range(0, 11, 2):
  print(a)

0
2
4
6
8
10

In [20]:
#lets print odd number in between 0 to 10
for a in range(1, 11, 2):
  print(a)

1
3
5
7
9

In [25]:
#Lets know about break continue pass
#run 1 by 1
#for i in range(10):
#  if i == 6:
#    break
#  print(i)


#for i in range(10):
#  if i == 6:
#    continue
#  print(i)

for i in range(10):
  if i == 6:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
#loop on string
name = "zamad"
for a in name:
  print(a)

z
a
m
a
d

In [29]:
#loop on list
names = ["Zamad", "Ali", "Jawad"]
for a in names:
  print(a)

Zamad
Ali
Jawad

In [40]:
#apply break, coninue and pass on list
names = ["Zamad", "Ali", "Jawad", "Hamad", "Khushi", ]
for a in names:
  if a == "Hamad":
    #break
    #continue
    pass
  print(a)

Zamad
Ali
Jawad
Hamad
Khushi

In [47]:
alpha = "ababababab"
count_a = 0
for a in alpha:
  if a == "b":
    count_a = count_a + 1
print(count_a)

5

In [49]:
x = "ababababab"
a = 0
for i in x:
  if i == "a":
    a = a + 1
print(a)

5