<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#how to creat tuple object
a = [1, 2, 3, 4]   #first we create list by using []
print(a)
print(type(a))
b = (1, 2, 3, 4)   #here you go we created the tuple by using ()
print(b)
print(type(b))
c = 1, 2, 3, 4 #here you go second method to create tuple without brackets also
print(c)
print(type(c))
d = ()    #here you go empty is also a tuple
print(d)
print(type(d))

[1, 2, 3, 4]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>
()
<class 'tuple'>

In [12]:
a = (1) #now if you c it is consider as int
print("a = ", a)
print("a type is: ", type(a))


b = (1,)  #here you c how to make tuple with one value by using comma ,
print("b = ", b)
print("b = ", type(b))

a =  1
a type is:  <class 'int'>
b =  (1,)
b =  <class 'tuple'>

In [16]:
#indexing in tuple
e = (1, 5, 6, 4)
print(e[2])  #here we are calling index of positive 2
print(e[-3])   #here we are calling negative 3

6
5

In [25]:
#lets do slicing in tuples
a = (9, 8, 7, 6, 5, 4, 3, 2, 1)
print(a[1:7:2])
#accessing tuple elements
b = (9, 8, 7, 6, 5, 4, 3, 2, 1)
b[6]
print(b[4]) #i put index of variable a and it gives value of a

(8, 6, 4)
5

In [29]:
#using while loop in tuples
a = (9, 8, 7, 6, 5, 4, 3, 2, 1)
b = 0
while (b<len(a)):    # here we are printing whole tuple
  print(a[b])
  b+=1

9
8
7
6
5
4
3
2
1

In [32]:
a = (9, 8, 7, 6, 5, 4, 3, 2, 1)
b = 0
while (b<5):    # here we are printing only 5 values from tuple
  print(a[b])
  b+=1

9
8
7
6
5

In [33]:
#using for loop
a = (9, 8, 7, 6, 5, 4, 3, 2, 1)
for b in a:
  print(b)

9
8
7
6
5
4
3
2
1

In [65]:
#lets Use function on tuple
a = (9, 8, 7, 6, 5, 4, 3, 2, 1, 5, 5, 5)
print("Length of a is", len(a))
print("Minimum of a is", min(a))
print("Maximum of a is", max(a))
print("Sum of a is", sum(a))
print("Sorted tuple of a is", sorted(a))
b = (1, 2, 3, 4)
print("Reverse of a is", sorted(b, reverse=True))
print("here we are going to concatinate tubples a and b ", a + b)    #concatination
print("Here we are going to repeate the b tuple 2 times", b*2)
print("Lets do a comparison of and b ", a<b) #it do comaprison on values not on lenght ok
print("Lets do a comparison of and b ", a==b)
print("Lets do a comparison of and b ", a>b)
print("Lets find the index of 3 in b vaiable :", b.index(3))
print("Lets find the count value of 5 in variable a is", a.count(5)) #here you c that how many times 5 come in a variable

Length of a is 12
Minimum of a is 1
Maximum of a is 9
Sum of a is 60
Sorted tuple of a is [1, 2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 9]
Reverse of a is [4, 3, 2, 1]
here we are going to concatinate tubples a and b  (9, 8, 7, 6, 5, 4, 3, 2, 1, 5, 5, 5, 1, 2, 3, 4)
Here we are going to repeate the b tuple 2 times (1, 2, 3, 4, 1, 2, 3, 4)
Lets do a comparison of and b  False
Lets do a comparison of and b  False
Lets do a comparison of and b  True
Lets find the index of 3 in b vaiable : 2
Lets find the count value of 5 in variable a is 4

1