<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
def a(names):
  print(names)
a("Zamad")
print(type(a))


def b(Fname, Lname):
  print(Fname + Lname)
b("Zamad", "Qureshi")



def c(name):
  kid = input("Enter your kid name: ")
  print("Your kids name is:", kid)

c("name")

Zamad
<class 'function'>
ZamadQureshi
Enter your kid name: zamad
Your kids name is: zamad

In [34]:
def a(country = "Pakistan"):
  print("I am from: ",country)
a()
a("USA")


def b(*name):
  print("Your kids name is: ",name)
b("Ali", "Zamad", "Qureshi")


def c(**names):
  print("Here is your keyword and arguments: ", names)
c(a="Ali", b="Zamad", c="Qureshi")

I am from:  Pakistan
I am from:  USA
Your kids name is:  ('Ali', 'Zamad', 'Qureshi')
Here is your keyword and arguments:  {'a': 'Ali', 'b': 'Zamad', 'c': 'Qureshi'}

In [38]:
def a(things):
  for x in things:
    print(x)
    return things
objects = ["chair", "table", "sofa", "bed"]
a(print("your objects are", objects))

your objects are ['chair', 'table', 'sofa', 'bed']

TypeError: 'NoneType' object is not iterable

In [43]:
def a(x):
  return x * 2
print(a(3))
print(a(4))



def b(x):
  pass
b(c)

6
8