<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#lets create set
a = {1, 2, 3, 4, 5}
print(a,type(a))
b = {1, 1, 2, 2, 3, 5, 4, 6, 5}
print(b,type(b)) #here you go set did not print duplicate values

{1, 2, 3, 4, 5} <class 'set'>
{1, 2, 3, 4, 5, 6} <class 'set'>

In [3]:
#lets check the empty set
a = {}
print(a, type(a))  #here you go if we make it empty then it would become dict so for that we have to put value in it

{} <class 'dict'>

In [12]:
a = set([10])
print("a value is ", a,type(a))



b = set([1, 2, 3, 4, 4, 5, 5, 6, 7, 6])
print("value of b is ", b,type(b))

a value is  {10} <class 'set'>
value of b is  {1, 2, 3, 4, 5, 6, 7} <class 'set'>

In [23]:
b = {0, 1, 2, 3, 4, 4, 5, 5, 6, 7, 6, 8}
print("Here we know the length ", len(b))   #here you c it cant count the double value
print("Here wee know the minimum value of b ", min(b)) #here we c the lowest value of b
print("Here we know the maximum value of b ", max(b))   #here we c the maximum value of b
#print("Here we are going to sort b ", reverse(b)) #it cannot be reverse because it is set
c = {9, 8, 7, 6, 5, 4, 3, 2, 1}
print("Here we going to sort the c value ", sorted(c))

Here we know the length  9
Here wee know the minimum value of b  0
Here we know the maximum value of b  8
Here we going to sort the c value  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
#Lets work on dict
#first we use roll number then we write name
a = {1:'Ali', 2:'Zamad', 3:'Hamad', 4:'Khushi', 5:'Ali'}
print(a, type(a))   #Here we write the dict


b = {1:'Ali',
     2:'Zamad',
     3:'Hamad',
     4:'Khushi',
     5:'Ali'}
print(b, type(b))   #second method to write dict




c = dict(Ali = 1, Zamad = 2, Hamad = 3, Khushi = 4, Naveed = 5)
print(c, type(c))    #third method to write dict

{1: 'Ali', 2: 'Zamad', 3: 'Hamad', 4: 'Khushi', 5: 'Ali'} <class 'dict'>
{1: 'Ali', 2: 'Zamad', 3: 'Hamad', 4: 'Khushi', 5: 'Ali'} <class 'dict'>
{'Ali': 1, 'Zamad': 2, 'Hamad': 3, 'Khushi': 4, 'Naveed': 5} <class 'dict'>

In [36]:
#lets access element in dict with the help of key
a = {1:'Ali', 2:'Zamad', 3:'Hamad', 4:'Khushi', 5:'Ali'}
print("Here is the value of a :", a, "Lets access the vlaue of 3:", a.get(3))
print(a[2])    #direct access

Here is the value of a : {1: 'Ali', 2: 'Zamad', 3: 'Hamad', 4: 'Khushi', 5: 'Ali'} Lets access the vlaue of 3: Hamad
Zamad

In [79]:
#lets use for loop in dict
a = {1:'Ali', 2:'Zamad', 3:'Hamad', 4:'Khushi', 5:'Ali'}
for b in a:
  print(b) #here we acces the key



c = {1:'Ali', 2:'Zamad', 3:'Hamad', 4:'Khushi', 5:'Ali'}
for d in c:
  print(d, c[d])    #here we access the key and value both


del c[3]
print("Here we going to delete the key and value of 3: ", c)

f = {1:'Ali', 2:'Zamad', 3:'Hamad', 4:'Khushi', 5:'Ali'}
f[3] = "Qureshi"
print("Here we change the value of 3 :", f)



e = {1:'Ali', 2:'Zamad', 3:'Hamad', 4:'Khushi', 5:'Ali'}
e[6] = "Jawad"
print("Here we have added the new vlaue :", e)
print("Here we are going to know the items: ", e.items())
print("Here we are going to know the key :", e.keys())
print("Here we know the value: ", e.values())


for i in e.values():
  print("Here we get the values of e: ", i)


for j in e.keys():
  print("Here we know the key of e: ", j)



for k,l in e.items():
  print("here we know the items of e: ", k,l)


print("Lets find the length of e: ", len(e))
print("Lets find the maximum of e: ", max(e))
print("Lets find the minimum of e: ", min(e))
print("Lets find the addition of e: ", sum(e))
print("Lets reverse keys of e: ", sorted(e, reverse = True))


g = {6:'zamad', 5:'Ali', 4:'Jawad', 3:'Hamad', 2:'Khushi', 1:'Qureshi'}
print("here we sort keys of g: ", sorted(g))


print(g.pop(4))
print("Here you c we deleted the value od 4:", g)


print(g.popitem())
print("Here we deleted the last vlaue:", g)


print(g.clear())
print("Here we c that g is cleared: ", g)

1
2
3
4
5
1 Ali
2 Zamad
3 Hamad
4 Khushi
5 Ali
Here we going to delete the key and value of 3:  {1: 'Ali', 2: 'Zamad', 4: 'Khushi', 5: 'Ali'}
Here we change the value of 3 : {1: 'Ali', 2: 'Zamad', 3: 'Qureshi', 4: 'Khushi', 5: 'Ali'}
Here we have added the new vlaue : {1: 'Ali', 2: 'Zamad', 3: 'Hamad', 4: 'Khushi', 5: 'Ali', 6: 'Jawad'}
Here we are going to know the items:  dict_items([(1, 'Ali'), (2, 'Zamad'), (3, 'Hamad'), (4, 'Khushi'), (5, 'Ali'), (6, 'Jawad')])
Here we are going to know the key : dict_keys([1, 2, 3, 4, 5, 6])
Here we know the value:  dict_values(['Ali', 'Zamad', 'Hamad', 'Khushi', 'Ali', 'Jawad'])
Here we get the values of e:  Ali
Here we get the values of e:  Zamad
Here we get the values of e:  Hamad
Here we get the values of e:  Khushi
Here we get the values of e:  Ali
Here we get the values of e:  Jawad
Here we know the key of e:  1
Here we know the key of e:  2
Here we know the key of e:  3
Here we know the key of e:  4
Here we know the key of e:  5
Here we know the key of e:  6
here we know the items of e:  1 Ali
here we know the items of e:  2 Zamad
here we know the items of e:  3 Hamad
here we know the items of e:  4 Khushi
here we know the items of e:  5 Ali
here we know the items of e:  6 Jawad
Lets find the length of e:  6
Lets find the maximum of e:  6
Lets find the minimum of e:  1
Lets find the addition of e:  21
Lets reverse keys of e:  [6, 5, 4, 3, 2, 1]
here we sort keys of g:  [1, 2, 3, 4, 5, 6]
Jawad
Here you c we deleted the value od 4: {6: 'zamad', 5: 'Ali', 3: 'Hamad', 2: 'Khushi', 1: 'Qureshi'}
(1, 'Qureshi')
Here we deleted the last vlaue: {6: 'zamad', 5: 'Ali', 3: 'Hamad', 2: 'Khushi'}
None
Here we c that g is cleared:  {}