<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#user input and Type converstion
#we can convert the data type of one variable into another if allowed

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Your Full name is", first_name, last_name)

Enter your first name: Zamad
Enter your last name: Qureshi
Your Full name is Zamad Qureshi

In [ ]:
#default values in python is consider as string ok
x = input("Enter value of x: ")
y = input("Enter value of y: ")
print("Sum of X and Y:", x+y)

Enter value of x: 10
Enter value of y: 20
Sum of X and Y: 1020

In [ ]:
#lets convert string into int
x = int(input("Enter value of x: "))
y = int(input("Enter value of y: "))
print("Sum of X and Y:", x+y)

a = "50"
print(f"the type of data before: {type(a)}")
a= int(a)
print(f"the type of data after: {type(a)}")

Enter value of x: 10
Enter value of y: 20
Sum of X and Y: 30
the type of data before: <class 'str'>
the type of data after: <class 'int'>

In [2]:
#lets convert float into int

b = 50.5
print(f"the data type of b before: {type(b)}")
b = int(b)
print(f"the data type of b after {type(b)}")
print(b)

the data type of b before: <class 'float'>
the data type of b after <class 'int'>
50

In [8]:
#lets convert integer into boolean

b = 50
print(f"the data type of b before: {type(b)}")
b = bool(b)
print(f"the data type of b after {type(b)}")
print(b)

the data type of b before: <class 'int'>
the data type of b after <class 'bool'>
True

In [9]:
b = 0
print(f"the data type of b before: {type(b)}")
b = bool(b)
print(f"the data type of b after {type(b)}")
print(b)

the data type of b before: <class 'int'>
the data type of b after <class 'bool'>
False

In [10]:
b = -5
print(f"the data type of b before: {type(b)}")
b = bool(b)
print(f"the data type of b after {type(b)}")
print(b)

the data type of b before: <class 'int'>
the data type of b after <class 'bool'>
True

In [11]:
#address of id
a = 30
b = 40
c = 30
print(id(a), id(b), id(c))

10751784 10752104 10751784

In [14]:
#operators
#arthemetic operators *, -, +, //, /
a = 6
b = 3
c = a+b
d = a-b
e = a*b
f = a/b
g = a//b
h = a%b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
#this is floor operator //
#this is modulus operator %

9
3
18
2.0
2
0

In [15]:
#relatoinal operator <=, >=, <, >, ==, !=
a = 1
b = 2
c = a<=b
d = a>=b
e = a<b
f = a>b
g = a==b
h = a!=b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

True
False
True
False
False
True