In [ ]:
""" if we write anyhing in the 3 comas this cannot be print it will be hide ok"""
""" if we write anyhing in the 3 comas this cannot be print it will be hide ok
and
if we try to write any code like
print("hello world")
if else
loop
while
 nothing will be shown wverything will be hidden
 """

' if we write anyhing in the 3 comas this cannot be print it will be hide ok \nand\nif we try to write any code like \nprint("hello world")\nif else\nloop\nwhile\n nothing will be shown wverything will be hidden\n '

In [ ]:
print("hello world")

hello world

## variable

In [ ]:
x=20
print(x)

20

variable only conatins alphabets like x y z

variable didnot contains any special character like @ # $ &

varibale should contain names but start wiht alphabets and must be small letters

In [ ]:
#accepted variables

ten = 10
ten_num = 20
tenNumber=30

print(ten, ten_num, tenNumber)

10 20 30

In [ ]:
a=30
b=ten
c=2.2
d='Zamad'
e="zamad"

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
a=20
b=30
c= a+b
print("here we going to add a and b:", c)

here we going to add a and b: 50

bolean data type

In [ ]:
a = True
b=False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
a=12
b=11
c= a>b
d=a<b
print("Value of c:", c)
print("value of D:", d)

Value of c: True
value of D: False

Multi assignments of variables

In [ ]:
a, b, c, d, e = 1, 1.2, "hi", True, False

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

1 <class 'int'>
1.2 <class 'float'>
hi <class 'str'>
True <class 'bool'>
False <class 'bool'>

In [ ]:
"day" + "1"

'day1'

In [ ]:
# if we write any integer in comas it becomes string
"22" + "33"

'2233'

In [ ]:
# string and integer cannot be added
"22" + 11

TypeError: can only concatenate str (not "int") to str

In [ ]:
#both are integers
22 - 11

11

In [ ]:
11 + 22

33

In [ ]:
language = 'python'
print("Welcome to the " + language + " language")

Welcome to the python language

In [3]:
#now here we describe the type functions
ten = 30
two = "abc"
points = 45.5
print(type(ten))
print(type(two))
print(type(points))

<class 'int'>
<class 'str'>
<class 'float'>

In [7]:
a = 2
b = 3
e = 1
c = a+b
d = b-a
f = b/e
g = a*b
print("here is the sum of a and b:", c)
print("here is the sub of a and b:", d)
print("here is the div of a and b:", f)
print("here is the mul of a and b:", g)

here is the sum of a and b: 5
here is the sub of a and b: 1
here is the div of a and b: 3.0
here is the mul of a and b: 6

In [9]:
#in the above section u c that when we divde then we get answer in point for that we use double //
a = 3
b = 1
c = a//b
print("here is the div of a and b:", c)

here is the div of a and b: 3

In [10]:
#now we discuss about boleen data type
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [1]:
a = 3
b = 4
c = a < b
d = a > b
print("Now you understand that how it works ", c)
print("Now you understand that how it works ", d)

Now you understand that how it works  True
Now you understand that how it works  False