<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/PythonDay4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Logical operators and not or
#in or if any point is true it shows true
#in not it converts true to false
#in and if both true then true
a = 3>4 or 5>0
b = 1>0 or 3>2
c = 0>1 or 1>2
d = not 3>4
e = not 3>2
f = not 1>2
g = 3>4 and 5>0
h = 1>0 and 3>2
i = 0>1 and 1>2
print("tell about or ", a, b, c)
print("tell about not", d, e, f)
print("tell about and ", g, h, i)

tell about or  True True False
tell about not True False True
tell about and  False True False

In [ ]:
#assignment operators
x = 1
x -= 4 #answer is -3
x += 5 #answer is 2
x **= 2 #answer is 4
x /= 4 #answer is 1
x %= 1
print(x)

a = 1
a += 2
print(a)

b = 2
b -= 3
print(b)

#and so on

0.0
3
-1

In [ ]:
#identity operators "is", "is not"
a = 5
b = 5
a is b

True

In [ ]:
a = 4
c = 6
a is not c

True

In [27]:
#Membership operators (in, not in)
x = 123
1 in x

TypeError: argument of type 'int' is not iterable

In [32]:
x = "Muhammad Zamad Qureshi"
"Zamad" in x
a = "123"
"1" in a

True

In [34]:
x = "Muhammad Zamad Qureshi"
"Zamad" not in x
"Ali" in x

False

In [45]:
#perform all operators
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
op = input("Choose any operator (-, +, *, //)")
sub = a-b
add = a+b
mul = a*b
div = a//b
print( (op == "-") * sub +
       (op == "+") * add +
       (op == "*") * mul +
       (op == "//") * div )

Enter first value: 4
Enter second value: 4
Choose any operator (-, +, *, //)+
8