<a href="https://colab.research.google.com/github/zamad786/Python/blob/main/pythondy13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lets find out n word in the list
a = ["apple", "banana", "kiwi", "mango", "orange"]
b = []
for x in a:
  if "n" in x:
    b.append(x)
print(b)

['banana', 'mango', 'orange']

In [9]:
#lets use list comprehension
a = ["apple", "banana", "kiwi", "mango", "orange"]
newlist = [x for x in a if "g" in x]
print(newlist) #it prints only string which have

new = [x for x in a if x != "mango"]
print(new) #it prints without given value

list1 = [x for x in a if x == "kiwi"]
print(list1) #it prints only given value

['mango', 'orange']
['apple', 'banana', 'kiwi', 'orange']
['kiwi']

In [14]:
#Lets use upper and lower case in list
a = ["apple", "banana", "kiwi", "mango", "orange"]
new = [x.upper() for x in a]
print(new)



c = ['APPLE', 'BANANA', 'KIWI', 'MANGO', 'ORANGE']
old = [x.lower() for x in c]
print(old)

['APPLE', 'BANANA', 'KIWI', 'MANGO', 'ORANGE']
['apple', 'banana', 'kiwi', 'mango', 'orange']

In [18]:
#loops on list
a = ['APPLE', 'BANANA', 'KIWI', 'MANGO', 'ORANGE']
for x in a: #
  print(x)


b = ['APPLE', 'BANANA', 'KIWI', 'MANGO', 'ORANGE']
for x in range(len(b)): #use len and range
  print(b[x])

APPLE
BANANA
KIWI
MANGO
ORANGE
APPLE
BANANA
KIWI
MANGO
ORANGE

In [26]:
#iterarting a list using while loop
b = ['APPLE', 'BANANA', 'KIWI', 'MANGO', 'ORANGE']
i = 0
while i <= len(b) -1:
  print(b[i])
  i = i+1

APPLE
BANANA
KIWI
MANGO
ORANGE

In [29]:
#Lets use sort
b = ['KIWI', 'MANGO', 'APPLE', 'BANANA', 'ORANGE']
b.sort()
print(b)

b.sort(reverse = True)
print(b)

b.reverse()
print(b)

['ORANGE', 'MANGO', 'KIWI', 'BANANA', 'APPLE']